---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">  
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>

	{% include header.html %}

	{% include about.html %}

	<p><span>Lores ipsum dolor sit amet, consectetur adipisicing elit. Quas corporis fugiat corrupti maxime assumenda harum ipsum. Dolorum non beatae atque, obcaecati debitis rerum corrupti est reprehenderit eaque facilis neque a!</span><br><span>Natus doloribus saepe ullam, vel assumenda quidem aliquid voluptates a nihil quos ut inventore qui. Laboriosam error, tempora sint! Quia nemo, iste vero ipsa necessitatibus assumenda debitis! Perspiciatis, assumenda, similique.</span>
	</p>

	{% include footer.html %}

	<script src="/assets/js/jquery-2.1.1.min.js"></script>
	<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>