<section>
	
	<h3>About Myself and some stuff</h3>

	<div class="face-lockup">
		
		<div class="face-img"></div>

		<div class="icon-domov">{% include icons/icon-domov.html %}</div>
		<div class="icon-navodila">{% include icons/icon-navodila.html %}</div>
		<div class="icon-svincnik">{% include icons/icon-svincnik.html %}</div>
		<div class="icon-posta">{% include icons/icon-posta.html %}</div>

	</div>

	<div class="blurb"
		<p><span><strong>TEST Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui deserunt quidem adipisci voluptatum,</strong> inventore sequi quas vero error eos culpa impedit suscipit ipsa at id, mollitia veritatis tenetur. Ipsam, accusamus!</span>
		<span>Reprehenderit quae quis fuga omnis blanditiis itaque facilis natus ut laboriosam, minus. Sequi natus perferendis ducimus accusantium, reiciendis veniam. Libero sint harum voluptatem est quis quos, quam rem quas debitis?</span>
		</p>
	</div>

	<div class="skill-lockup">
			
			<div class="skill-unit">
				<div class="skill-label">Communication</div>
				<div class="skill-icons skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

			<div class="skill-unit">
				<div class="skill-label">Organization</div>
				<div class="skill-icons skill-9">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

			<div class="skill-unit">
				<div class="skill-label">Learning</div>
				<div class="skill-icons skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

			<div class="skill-unit">
				<div class="skill-label">Teaching</div>
				<div class="skill-icons skill-6">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

			<div class="skill-unit">
				<div class="skill-label">Planning</div>
				<div class="skill-icons skill-7">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

			<div class="skill-unit">
				<div class="skill-label">Visual Design</div>
				<div class="skill-icons skill-5">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>


			<div class="skill-unit">
				<div class="skill-label">UX Design</div>
				<div class="skill-icons skill-10">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>


			<div class="skill-unit">
				<div class="skill-label">Programming</div>
				<div class="skill-icons skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>

	</div>

</section>