<section>
	
	<h3 id="about-me">About Myself and some stuff</h3>

	<div class="face-lockup">
		
		<div class="face-img"></div>

		<div class="icon-domov">{% include icons/icon-domov.html %}</div>
		<div class="icon-navodila">{% include icons/icon-navodila.html %}</div>
		<div class="icon-svincnik">{% include icons/icon-svincnik.html %}</div>
		<div class="icon-posta">{% include icons/icon-posta.html %}</div>

	</div>

	<div class="blurb">
		{{ site.data.portfolio.blurb }}
	</div>

	<div class="skill-lockup">
			
			
		{% for skill in site.data.portfolio.skills %}

			<div class="skill-unit">
				<div class="skill-label">{{ skill.name }}</div>
					<div class="skill-icons skill-{{ skill.value }}">
					<span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span><span></span>
					</div>
			</div>

		{% endfor %}

	</div>

</section>