<section class="section-clients">
	
	<h3 id="clients">Clients</h3>

<div class="client-controls">
	<div class="client-control-next">{% include icons/icon-next.html %}</div>
	<div class="client-control-prev">{% include icons/icon-prev.html %}</div>
</div>

	<div class="clients-belt">
		
		<div class="client-unit">
			
			<div class="client-face">
				<img src="/assets/img/clients/face-aaroni.jpg" alt="client-face">
				<strong class="client-name">Scott Summers</strong>
				<em class="client-title">Director of Design, Quebec Int.</em>
			</div>

			<div class="client-content">
				<div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
				<p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit. Modi voluptatum quis quasi, debitis, vero excepturi ratione repellat possimus praesentium porro quaerat velit, nam deleniti sunt. Delectus expedita dignissimos fugit vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ipsa nisi laudantium adipisci, nihil eum voluptate impedit ducimus itaque ad quas tenetur dignissimos molestias enim ea vero iste. Culpa, ducimus.</p>
			</div>

		</div>

	</div>

	 <div class="clients-logos">
	 	
			<div class="client-logo active-client"></div>

			<div class="client-logo"></div>

			<div class="client-logo"></div>

			<div class="client-logo"></div>

	 </div>

</section>