<section id="form">

	<h3>Let's work together</h3>

	<form method="POST" action="//formspree.io/{{ site.data.portfolio.email }}">
		
		<div class="contact-info">

		  <label><span>Your Name</span>
	    <input type="text" name="name"></label>
	    
	    <label><span>Your Mail</span>
	    <input type="email" name="_replyto"></label>

		</div>

	    <label><span>Message Here</span>
	    <textarea name="message"></textarea></label>
		
		<div class="submit-wrap">
	    <input type="submit" value="Send">
	  </div>
	  
	</form> 


</section>